body{
  background-color: aqua;
  color:#2e1263;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-weight: 200;
  font-size: 70px;
  text-transform: uppercase;
  border-top: 5px solid;
}

img{
  height: 300px;
  border-radius: 50%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  font-size: 20px;
  text-align: justify;
}

button {
  margin: 3px auto ;
  padding: 20px 25px;
  background-color: #23a8a8;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border: 1px solid #2e1263;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  outline: none;
}

button:hover {
  transition: 0.3s;
  background-color: #2e121263;
  color: #f69680;
  text-decoration: underline;
}
